@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: 'Inter', sans-serif;
}

/* LAYOUT */

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    background-color: #000;
    color: #FFF;
    padding: 3rem 3rem 1rem;
}

.toolbar {
    background-color: #222;
    min-height: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    width: calc(100% / 7);
    aspect-ratio: 16 / 9;
    padding: 3px 2px;
}

/* CARD */

.card {
    position: relative;
}

.user {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.625rem;
    line-height: 1.25rem;
    padding: 0 0.25rem;
    background-color: rgba(0, 0, 0, 0.4);
}